:root {
  --font-family: "Raleway", sans-serif;
  --font-family--exo-2: "Exo 2", sans-serif;
  --content-width: 880px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --text-color: #292929;
  --light-text-color: #525252;
  --title-color: #1a1a1a;
  --accent-color: #f30;
  --gray-color: #f9f9f9;
  --dark-gray-color: #9c9c9c;
  --bg-color: #e6e6e6;
  --icon-color: #484848;
  --subtitle-color: #565656;
  --border-color: #ececec;
  --dark-color: #252525;
  --pink-color: #c7006c;
  --light-border-color: #f4f4f4;
  --light-color: #fff;
  --alto-color: #dfdfdf;
  --fl-bg-dark-color: #d3d3d3;
  --candlelight-color: #ffda17;
  --cod-gray-color: #3c3c3c;
  --dove-gray-color: #696969;
  --silver-color: #c5c5c5;
  --corn-color: #e3a400;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/../fonts/RalewayLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/../fonts/RalewayRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/../fonts/RalewayMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/../fonts/RalewaySemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/../fonts/Exo20Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/../fonts/Exo20ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/../fonts/Exo20Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/../fonts/Exo20Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/../fonts/Exo20Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/../fonts/Exo20SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/../fonts/Exo20Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/../fonts/Exo20ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/../fonts/Exo20Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
/* stylelint-disable string-quotes */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-color: var(--border-color) var(--light-color);
  scrollbar-width: auto;
}
html ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: var(--light-color);
}
html ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--border-color);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  color: var(--dark-color);
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}
.page__body--fl {
  font-family: var(--font-family--exo-2, sans-serif);
  background-color: var(--alto-color);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

/* stylelint-disable color-function-notation */
.btn {
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 145.19%;
  white-space: nowrap;
  color: var(--light-color);
}
.btn--fl {
  border-radius: 50px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.06em;
  color: var(--fl-text-color);
  background-color: var(--candlelight-color);
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: -webkit-box-shadow 0.1s ease-in-out;
  -o-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
}
.btn--fl:hover {
  -webkit-box-shadow: 0 0 4px rgb(228, 190, 0);
  box-shadow: 0 0 4px rgb(228, 190, 0);
}
.btn--fl:active {
  -webkit-box-shadow: inset 0 2px 2px rgba(207, 173, 0, 0.5);
  box-shadow: inset 0 2px 2px rgba(207, 173, 0, 0.5);
}

/* stylelint-disable string-quotes */
.title-h1 {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 116%;
  letter-spacing: 0.02em;
}
.title-h1--fl {
  font-weight: 600;
  font-size: 24px;
  line-height: 121%;
  color: var(--cod-gray-color);
}
@media (max-width: 576px) {
  .title-h1 {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .title-h1 {
    font-size: 20px;
  }
}
.title-h3 {
  margin: 0;
  font-weight: 400;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.02em;
}
.title-h3--fl {
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .title-h3 {
    font-size: 18px;
  }
}

.subtitle-16 {
  margin: 0;
}
.subtitle--fl {
  font-weight: 400;
  font-size: 15px;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: var(--dove-gray-color);
}

/* stylelint-disable color-function-notation */
.slider {
  margin-top: 40px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  height: 410px;
}
.slider__section {
  overflow-y: auto;
  height: 100%;
}
.slider__section--my {
  overflow-y: visible;
}
@media (max-width: 1024px) {
  .slider__section--my {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.slider__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}
@media (max-width: 1024px) {
  .slider__bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 10px;
    width: 100%;
    background-color: inherit;
  }
  .slider__bottom--fl {
    -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--alto-color);
  }
}
@media (max-width: 576px) {
  .slider__bottom {
    margin-top: 10px;
    gap: 10px;
  }
}
.slider--my {
  border-radius: 0;
  background-color: var(--dark-color);
}
@media (max-width: 768px) {
  .slider--my {
    background-color: var(--light-color);
  }
}
.slider--fl {
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--fl-bg-dark-color);
}
@media (max-width: 1024px) {
  .slider {
    margin-top: 10px;
    margin-bottom: 50px;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .slider {
    margin-bottom: 40px;
  }
}
@media (max-width: 425px) {
  .slider {
    border: none;
  }
}

.card__slider-btn {
  border: 1px solid var(--light-border-color);
  border-radius: 6px;
  height: 70px;
  -webkit-transition: border 0.1s ease-in-out;
  -o-transition: border 0.1s ease-in-out;
  transition: border 0.1s ease-in-out;
}
.card__slider-btn:hover {
  border: 1px solid var(--dark-color);
}
@media (max-width: 576px) {
  .card__slider-btn {
    height: 50px;
  }
}

.swiper-button-disabled {
  pointer-events: none;
}
.swiper-pagination {
  position: relative;
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}
.swiper-pagination-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.swiper-pagination-bullet {
  border-radius: 6px;
  width: 30px;
  height: 4px;
  background-color: var(--dark-gray-color);
}
.swiper-pagination-bullet-active {
  background-color: inherit;
}
.swiper-pagination--my .swiper-pagination-bullet {
  border-radius: 0;
  width: 50px;
  background-color: var(--dark-color);
}
.swiper-pagination--fl .swiper-pagination-bullet {
  border-radius: 5px;
  width: 70px;
  background-color: var(--corn-color);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable string-quotes */
.hero__container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  padding: 40px 20px;
  height: 100%;
}
@media (max-width: 1024px) {
  .hero__container {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .hero__container {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    row-gap: 10px;
  }
}
.hero__img {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  width: 100%;
  max-height: 330px;
}
.hero__img img {
  border-radius: 20px;
  width: auto;
  height: 100%;
}
.hero__img--my img {
  border-radius: 0;
  max-height: 326px;
}
@media (max-width: 1024px) {
  .hero__img--my img {
    width: 380px;
  }
}
@media (max-width: 768px) {
  .hero__img--my img {
    border-radius: 100%;
    width: 300px;
    max-height: 310px;
  }
}
@media (max-width: 576px) {
  .hero__img--my img {
    width: 260px;
    max-height: 260px;
  }
}
@media (max-width: 768px) {
  .hero__img {
    text-align: center;
  }
}
.hero__content {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.hero__content--my {
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 1024px) {
  .hero__content {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 768px) {
  .hero__content {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .hero__content {
    padding: 0;
  }
}
.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .hero__title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 2px;
  }
}
.hero__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}
@media (max-width: 768px) {
  .hero__logo {
    margin-left: 10px;
  }
  .hero__logo img {
    width: auto;
    max-height: 22px;
  }
}
@media (max-width: 768px) and (max-width: 425px) {
  .hero__logo img {
    max-height: 18px;
  }
}
.hero__subtitle {
  margin: 0;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .hero__subtitle {
    text-align: center;
  }
}
.hero__list {
  display: -ms-grid;
  display: grid;
  row-gap: 7px;
}
.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__link span {
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
}
.hero__link i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  font-size: 14px;
}
.hero__link--fl {
  border-bottom: 1px solid var(--silver-color);
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 155%;
  color: var(--cod-gray-color);
}
.hero__link--fl:hover {
  border-bottom: 1px solid var(--cod-gray-color);
}
.hero__link--not {
  pointer-events: none;
}
.hero__bottom {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 20px;
}
@media (max-width: 1024px) {
  .hero__bottom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .hero__bottom {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .hero__bottom {
    gap: 10px;
  }
}
@media (max-width: 1024px) {
  .hero__social {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}
@media (max-width: 576px) {
  .hero__social {
    grid-column: auto;
  }
}
@media (max-width: 1024px) {
  .hero__btn {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}
@media (max-width: 576px) {
  .hero__btn {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.my-hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 100px;
  grid-template-rows: 1fr 100px;
}
@media (max-width: 1024px) {
  .my-hero__container {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}
.my-hero__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-span: 2;
  grid-column: 2 span;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 576px) {
  .my-hero__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.my-hero__content {
  position: absolute;
  right: 40px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 768px) {
  .my-hero__content {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
  }
}
.my-hero__top {
  padding: 20px;
  width: 400px;
  background-color: var(--light-color);
}
@media (max-width: 768px) {
  .my-hero__top {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .my-hero__top {
    padding: 0;
  }
}
.my-hero__img {
  width: 100%;
  height: 100%;
  max-height: 410px;
}
.my-hero__img img {
  width: 100%;
  max-height: 410px;
}
@media (max-width: 1024px) {
  .my-hero__img img {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .my-hero__img img {
    max-height: 340px;
  }
}
@media (max-width: 425px) {
  .my-hero__img img {
    max-height: 320px;
  }
}
.my-hero__title {
  margin-bottom: 3px;
}
.my-hero__subtitle {
  margin-bottom: 20px;
}
.my-hero__item:not(:last-child) {
  margin-bottom: 5px;
}
.my-hero__social {
  margin-top: 20px;
}
.my-hero__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .my-hero__bottom {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .my-hero__bottom {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 0 20px 20px;
  }
}
@media (max-width: 425px) {
  .my-hero__bottom {
    margin: 0;
    margin-bottom: 20px;
  }
}
.my-hero__btn {
  border: 1px solid var(--light-color);
  color: var(--dark-color);
  background-color: var(--light-color);
}
.my-hero__btn:hover {
  border: 1px solid var(--dark-color);
}
@media (max-width: 768px) {
  .my-hero__btn {
    color: var(--light-color);
    background-color: var(--dark-color);
  }
}
@media (max-width: 425px) {
  .my-hero__btn {
    width: 100%;
  }
}

.portfolio__container {
  overflow: auto;
  padding: 20px;
  height: 370px;
}
@media (max-width: 1024px) {
  .portfolio__container {
    height: auto;
  }
}
@media (max-width: 768px) {
  .portfolio__container {
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .portfolio__container {
    padding: 5px;
  }
}
.portfolio__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  gap: 15px;
}
@media (max-width: 1024px) {
  .portfolio__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .portfolio__list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 7px;
  }
}
.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-grid-column-span: 1;
  grid-column: 1 span;
  padding: 10px;
}
.portfolio__item-info {
  padding: 5px 0;
}
.portfolio__item--my {
  border-radius: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--light-color);
}
.portfolio__item--fl {
  border: 1px solid var(--silver-color);
  border-radius: 20px;
  background-color: var(--alto-color);
}
.portfolio__img {
  margin-bottom: 10px;
  width: 100%;
  height: 180px;
}
.portfolio__img img {
  width: 100%;
  height: 100%;
}
.portfolio__img--my {
  border-bottom: 1px solid var(--light-border-color);
}
.portfolio__img--my img {
  border-radius: 0;
}
@media (max-width: 768px) {
  .portfolio__img--my {
    margin-bottom: 0;
  }
}
.portfolio__img--fl img {
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .portfolio__img {
    height: 250px;
  }
}
@media (max-width: 576px) {
  .portfolio__img {
    height: 230px;
  }
}
@media (max-width: 425px) {
  .portfolio__img {
    height: 200px;
  }
}
.portfolio__title {
  padding-bottom: 5px;
  width: 100%;
}
.portfolio__title--my {
  border-bottom: none;
  color: var(--dark-color);
}
@media (max-width: 768px) {
  .portfolio__title--my {
    color: var(--light-color);
  }
}
.portfolio__descr {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: var(--light-text-color);
}
.portfolio__descr-p {
  margin: 0;
  margin-bottom: 2px;
}
.portfolio__descr-p--string {
  font-weight: 500;
}
@media (max-width: 768px) {
  .portfolio__descr--my {
    color: var(--light-color);
  }
}
.portfolio__descr--fl {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: var(--dove-gray-color);
}

/* stylelint-disable string-quotes */
.services__container {
  overflow: auto;
  padding: 20px;
  height: 370px;
}
@media (max-width: 1024px) {
  .services__container {
    height: auto;
  }
}
@media (max-width: 768px) {
  .services__container {
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .services__container {
    padding: 5px;
  }
}
.services__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
@media (max-width: 425px) {
  .services__top--fl {
    padding-top: 5px;
    padding-left: 5px;
    width: auto;
  }
}
@media (max-width: 768px) {
  .services__top {
    margin-bottom: 10px;
  }
}
.services__title--my {
  color: var(--light-color);
}
@media (max-width: 768px) {
  .services__title--my {
    color: var(--dark-color);
  }
}
@media (max-width: 425px) {
  .services__title:nth-child(2) {
    display: none;
  }
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.services__item:not(:last-child) {
  margin-bottom: 12px;
}
@media (max-width: 425px) {
  .services__item:not(:last-child) {
    margin-bottom: 5px;
  }
}
.services__item--my {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--light-color);
}
@media (max-width: 768px) {
  .services__item--my {
    background-color: var(--dark-color);
  }
}
.services__item--fl {
  border: 1px solid var(--silver-color);
  border-radius: 10px;
  padding: 8px 10px;
  background-color: var(--alto-color);
}
@media (max-width: 425px) {
  .services__item--fl {
    border-radius: 20px;
  }
}
@media (max-width: 425px) {
  .services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px;
  }
}
.services__skill {
  font-weight: 400;
  font-size: 15px;
  line-height: 145.19%;
}
.services__skill i {
  margin-right: 5px;
  font-size: 13px;
}
@media (max-width: 768px) {
  .services__skill--my {
    color: var(--light-color);
  }
}
.services__skill--fl {
  line-height: 155%;
  letter-spacing: 0.03em;
  color: var(--cod-gray-color);
}
@media (max-width: 576px) {
  .services__skill {
    font-size: 14px;
  }
}
.services__price {
  font-weight: 600;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  font-size: 16px;
  line-height: 145.19%;
}
.services__price--my {
  border: none;
  padding: 2px;
  color: var(--dark-color);
}
@media (max-width: 768px) {
  .services__price--my {
    color: var(--light-color);
  }
}
.services__price--fl {
  font-size: 20px;
  color: var(--corn-color);
}
.services__price--fl span {
  font-size: 18px;
}
@media (max-width: 576px) {
  .services__price {
    padding: 0;
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .services__price {
    margin-top: 5px;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item {
  width: 40px;
  height: 40px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__item--fl {
  width: 23px;
  height: 23px;
}
.social__item--fl:not(:last-child) {
  margin-right: 20px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.social__link i {
  font-size: 18px;
  color: var(--dark-color);
}
.social__link--fl i {
  font-size: 23px;
  color: var(--cod-gray-color);
}
.social-border-top {
  border-top: 1px solid var(--dark-color);
  padding-top: 10px;
}